[submodule "server/lib/websocketpp"]
	path = server/lib/websocketpp
	url = https://github.com/zaphoyd/websocketpp
[submodule "server/lib/asio"]
	path = server/lib/asio
	url = https://github.com/chriskohlhoff/asio
[submodule "server/lib/mongocdriver"]
	path = server/lib/mongocdriver
	url = https://github.com/mongodb/mongo-c-driver
[submodule "server/lib/mongocxxdriver"]
	path = server/lib/mongocxxdriver
	url = https://github.com/mongodb/mongo-cxx-driver
