[submodule "server/lib/websocketpp"]
	path = server/lib/websocketpp
	url = https://github.com/zaphoyd/websocketpp
[submodule "server/lib/asio"]
	path = server/lib/asio
	url = https://github.com/chriskohlhoff/asio
